<!--<table class="table queue">
	<tr ng-repeat="user in queue">
		<th>{{ $index + 1 }}</th>
		<td>{{ user.name }}</td>
		<td>{{ user.action }}</td>
		<td>{{ user.comment }}</td>
	</tr>
</table>-->
<div class="card-space">
	<lq-queuecard
		ng-repeat="user in queue"
		index="$index"
		user="user"
		admin="admin"
		ng-swipe-left="admin.open($event)"
		ng-swipe-right="admin.close($event)">
	</lq-queuecard>
</div>

<div class="bottomControls">
	<form ng-hide="queued" ng-submit="joinQueue()">
		<input class="form-control" style="width: 100%;" type="text" ng-model="comment" placeholder="Comment..." autofocus>

		<div class="btn-group">
      <button type="button" class="btn btn-default" ng-model="action" btn-radio="'H'">Help</button>
      <button type="button" class="btn btn-default" ng-model="action" btn-radio="'P'">Present</button>
    </div>

		<input class="btn btn-primary" type="submit" value="Enqueue">
	</form>

	<form ng-show="queued" ng-submit="leaveQueue()">
		<input class="btn btn-danger" type="submit" value="Dequeue">
	</form>
</div>
