<table class="table container">
	<thead>
		<th>Name</th>
		<th>Queue lengh</th>
		<th>Open?</th>
	</thead>
	<tbody>
		<tr 
		ng-repeat="c in courses | ifactive:user.isAdmin() | filter:{name: query}">
			<th><a href="#/course/{{c.name}}" ng-show="c.open">{{ c.name }}</a><span style="color:#DDD" ng-hide="c.open">{{ c.name }}</span</th>
			<td>{{ c.size }} people in queue</td>
			<td>{{ c.open }}</td>
		</tr>
	</tbody>
</table>

<div class="bottomControls">
	<!--<h2>Search for a course</h2>-->
	<form ng-submit="join()">
		<input type="text" class="form-control" placeholder="Search for a course" 
		ng-model="query" autofocus>
	</form>
</div>


