<h1>Courses</h1>
<div class="searchbox">
	<h2>Search for a course</h2>
	<form ng-submit="join()">
		<input type="text" typeahead="course for course in courses | filter:$viewValue | limitTo:8"
			class="form-control" placeholder="Search" ng-model="query">
		<input type="submit" class="btn btn-default" value="Search">
	</form>
</div>

<button ng-click="redirect('/list')" class="btn btn-default center">All courses</button>
<!--<p ng-repeat="c in courses | filter:query"><a href="#/list/{{c}}">{{ c }}</a></p>-->
