<form ng-submit="update()">
	<!--
	<datetimepicker ng-model="begin"></datetimepicker>
	<datetimepicker ng-model="end"></datetimepicker>-->
	<p>
		<input type="datetime" ng-model="begin" name="begin" placeholder="Begin">
	</p>
	
	<p>
		<input type="datetime" ng-model="begin" name="begin" placeholder="End">
	</p>
	
	<p>
	<input type="text" ng-model="course" placeholder="Course">
	</p>
	<input type="submit">Update</button>
</form>

<ul ng-show="stats !== undefined">
	<li>{{ stats.peopleHelped }} people helped.</li>
	<li>{{ stats.peoplePresented }} presentations taken.</li>
	<li>{{ stats.leftInQueue }} left behind.</li>
</ul>