//Angular UI Bootstrap hack thingy
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
	background-color: #333;
	color: #fff;
}

.nav {
	background-color: #eee;
}

.content {
	padding-left: 1em;
}