/* Angular UI Bootstrap hack thingy */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
	background-color: #333;
}

h1, h2 {
	font-family: 'Lobster';
	/*padding: 0 1em;*/
	text-align: center;
}

nav {
	background-color: #eee;
	color: #333;
	display: block;
	width: 100%;
	height: 4em;
	border-bottom: 2px solid rgb(216, 216, 216);
}

nav h1 {
	text-align: center;
	padding: 5px;
	margin: 0 auto;
	width: calc( 100% - 4em );

	overflow:hidden;
  white-space:nowrap;
  -ms-text-overflow:ellipsis;
  text-overflow:ellipsis;
}

nav button {
	height: 4em;
	width: 4em;
	border: none;
	background-color: transparent;
}

nav button .glyphicon {
	font-size: 23px;
}

.topControls, .bottomControls {
	position: fixed;
	width: 100%;
	padding: 10px 15px;
}

.topControls {
	top: 0;
	border-bottom: 2px solid;
}

.bottomControls {
	bottom: 0;
	border-top: 2px solid;
	background-color: #eee;
	border-color: rgb(216, 216, 216);
}

.bottomControls input[type="text"] {
	margin-bottom: 1em;
}

.bottomControls .btn-group {
	width: 65%;
}

.bottomControls .btn-group .btn {
	width: 50%;
}

.bottomControls input[type="submit"] {
	width: 30%;
	float: right;
}

.bottomControls form .btn-danger {
	margin: 0 auto;
	display: block;
	float: none;
}

.table {
	color: white;
	margin: 10px auto;
	width: calc(100% - 20px);
	border: 1px solid rgb(216, 216, 216);
	border-radius: 1em;
	overflow: hidden;
}

.table tbody {
	width: 100%;
}

.table tr {
	border: none;
}

.table.queue tr:first-child {
	background-color: gray;
}

.table.queue tr:nth-child(2n) {
	background-color: #444;
}

.huge-logo {
	color: rgb(252, 252, 129);
	text-shadow: 1px 2px black;
	font-size: 80px;
	margin: 0 0 30px 0;
}

.centered, .text-box {
	width: 80%;
	height: 200px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto auto;
	text-align: center;
}

.text-box {
	color: white;
	top: 4em;
}

.text-box input, .text-box a {
	margin-bottom: 15px;
}

/*
@media only screen and (min-width : 1224px) {
	#wrapper {
		width: 800px;
	}
}
*/
