/* Angular UI Bootstrap hack thingy */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
	background-color: #333;
}

a:hover {
	text-decoration: none;
}

h1, h2 {
	font-family: 'Lobster';
	/*padding: 0 1em;*/
	text-align: center;
}

nav {
	position: fixed;
	top: 0;
	z-index: 100;
	box-shadow: 0 5px 20px #333;
	background-color: #eee;
	color: #333;
	display: block;
	width: 100%;
	height: 4em;
	border-bottom: 2px solid rgb(216, 216, 216);
}

nav h1 {
	text-align: center;
	padding: 5px;
	margin: 0 auto;
	width: calc( 100% - 4em );

	overflow:hidden;
  white-space:nowrap;
  -ms-text-overflow:ellipsis;
  text-overflow:ellipsis;
}

nav button {
	height: 4em;
	width: 4em;
	border: none;
	background-color: transparent;
}

nav button .glyphicon {
	font-size: 23px;
}

.content {
	margin-top:	5em;
}

#filter {
	background-image: url(http://www.swankydesign.com/images/Material%20Finishes/BRUSHED-STAINLESS-CMYK.jpg);
	width: 100%;
	height: 100%;
	position:absolute;
	-webkit-filter: brightness(0.21);
	filter: brightness(0.4);
	background-position: center;
	background-size: contain;
}

.topControls, .bottomControls {
	position: fixed;
	width: 100%;
	padding: 10px 15px;
}

.topControls {
	top: 0;
	border-bottom: 2px solid;
}

.bottomControls {
	bottom: 0;
	border-top: 2px solid;
	box-shadow: 0 -5px 20px #333;
	background-color: #eee;
	border-color: rgb(216, 216, 216);
}

.bottomControls input[type="text"] ~ .btn-group,
.bottomControls input[type="text"] ~ input[type="submit"] {
	margin-top: 1em;
}

.bottomControls .btn-group {
	width: 65%;
}

.bottomControls .btn-group .btn {
	width: 50%;
}

.bottomControls input[type="submit"] {
	width: 30%;
	float: right;
}

.bottomControls form .btn-danger {
	margin: 0 auto;
	display: block;
	float: none;
}

.table {
	color: white;
	margin: 10px auto;
	width: calc(100% - 20px);
	border: 1px solid rgb(216, 216, 216);
	border-radius: 1em;
	overflow: hidden;
}

.table tbody {
	width: 100%;
}

.table tr {
	border: none;
}

.table.queue tr:first-child {
	background-color: gray;
}

.table.queue tr:nth-child(2n) {
	background-color: #444;
}

.huge-logo {
	color: rgb(252, 252, 129);
	text-shadow: 1px 2px black;
	font-size: 80px;
	margin: 0 0 30px 0;
}

.centered, .text-box {
	width: 80%;
	height: 200px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto auto;
	text-align: center;
}

.text-box {
	color: white;
	top: 4em;
}

.text-box input, .text-box a {
	margin-bottom: 15px;
}

.btn-kth {
	background-color: #1954A6;
	font-size: 25px;
	font-family: Open Sans, sans;
}

.btn-kth:hover {
	background-color: #1954A6;
	-webkit-filter: brightness(2.1);
	filter: brightness(1.1);
}

.lq-card, .lq-queuecard {
	margin: 15px 5px;
	padding: 5px 10px;
	background: white;
	border-radius: 3px;
	box-shadow: 0 3px 0 #ccc, 0 0 20px #333;
}

.lq-card {
	line-height: 35px;
	font-size: 20px;
}

.lq-queuecard {
	transition: left 0.3s;
	-webkit-transition: left 0.3s;
	left: 0px;
	position: relative;

  text-align: center;
}

.lq-admincard {
	padding: 5px;
	border-radius: 3px;
	position: absolute;
	right: 0;
	width: 150px;
	height: 85px;
	margin: 5px 10px;

	box-shadow: 0 3px 0 #999;
	background: #ccc;
}

.lq-admincard .btn {
	float: right;
	padding: 4px 15px;
}

.lq-admincard .btn .glyphicon {
	font-size: 20px;
}

.lq-queuecard, .lq-queuecard div {
	pointer-event: none;
}

.lq-queuecard > .nr, .lq-queuecard > .action,
.lq-queuecard > .name {
  line-height: 40px;
	width: 40px;
}

.lq-queuecard > .name, .lq-queuecard > .comment {
	float: right;
	width: 200px;
  width: calc(100% - 60px);
}

.lq-queuecard > .name {
	font-size: 24px;
}

.lq-queuecard > .nr {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
}

.lq-queuecard > .comment {
  overflow: hidden;
  color: #555;
  font-style: italic;
}

.lq-queuecard > .action {
  font-size: 30px;
  width: 40px;
  background: red;
  color: white;
  border-radius: 50%;
}

.card-space {
	margin-bottom: 8em;
}

.enroute {
  animation-duration: 1s;
  animation-name: wobble;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  -webkit-animation-duration: 1s;
  -webkit-animation-name: wobble;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@-moz-keyframes wobble {
  from {
  	transform: scale(0.95);
  }
  to {
  	transform: scale(1);
  }
}

@-webkit-keyframes wobble {
  from {
  	-webkit-transform: scale(0.95);
  }
  to {
  	-webkit-transform: scale(1);
  }
}
